@page
@using Newtonsoft.Json.Linq;
@using LUJEWebsite.app.Extentions;
@using LUJEWebsite.app.Model;
@using Npgsql;
@using NpgsqlTypes;
@using System.Collections;
@using LUJEWebsite.app.Utils;
@{
	HttpClient client = new HttpClient();
	ViewData["Title"] = "Peering Portal";
	bool loggedin = false;
	bool admin = false;
	string accessToken = "";
	Network selectedNetwork = null;
	if (HttpContext.Session.Get<Boolean>("loggedin") != null && HttpContext.Session.Get<Boolean>("loggedin") == true)
	{
		string asn = Request.Query["asn"];
		if (asn != "")
		{
			Profile profile = HttpContext.Session.Get<Profile>("profile");
			foreach (Network network in profile.networks)
			{
				if(network.asn.ToString() == asn)
				{
					selectedNetwork = network;
					loggedin = true;
				}
			}
		}
	}
	if (HttpContext.Session.Get<Boolean>("admin") != null && HttpContext.Session.Get<Boolean>("admin") == true)
	{
		admin = true;
	}
}

@if (!loggedin)
{
	Response.Redirect("/portal/");
}
else
{
	try
	{
		Profile profile = HttpContext.Session.Get<Profile>("profile");
		string asn = "AS" + selectedNetwork.asn;
		NpgsqlConnection luje_conn = new NpgsqlConnection(Configuration.DBPath);
		luje_conn.Open();

		NpgsqlCommand luje_cmd = new NpgsqlCommand("select peeringdb_network_ixlan.ixlan_id from peeringdb_network_ixlan where asn = @portalowner;", luje_conn);
		luje_cmd.Parameters.AddWithValue("@portalowner", NpgsqlDbType.Integer, Convert.ToInt32(Configuration.PortalOwnerAsn));
		luje_cmd.Prepare();
		NpgsqlDataReader luje_rdr = luje_cmd.ExecuteReader();
		var ixlanlist = new ArrayList();
		while (luje_rdr.Read())
		{
			if (!ixlanlist.Contains(luje_rdr["ixlan_id"].ToString()))
			{
				ixlanlist.Add(luje_rdr["ixlan_id"].ToString());
			}
		}
		luje_rdr.Close();

		luje_cmd = new NpgsqlCommand("select peering_active, peering_deployed from peering where peering_peeringdb_id = @peeringdb_id and peering_deleted = false;", luje_conn);
		luje_cmd.Parameters.AddWithValue("@peeringdb_id", NpgsqlDbType.Integer, selectedNetwork.id);
		luje_cmd.Prepare();
		luje_rdr = luje_cmd.ExecuteReader();

		bool knownnetwork = false;
		if (luje_rdr.Read())
		{
			knownnetwork = true;
		}
		luje_rdr.Close();

		luje_cmd = new NpgsqlCommand(@"select peeringdb_network_ixlan.id, peeringdb_ix.name, peeringdb_network_ixlan.ixlan_id, peeringdb_network_ixlan.net_id, peeringdb_network_ixlan.ipaddr4, peeringdb_network_ixlan.ipaddr6, owner_peeringdb_network_ixlan.id as ownerid, owner_peeringdb_network_ixlan.ipaddr4 as owneripaddr4, owner_peeringdb_network_ixlan.ipaddr6 as owneripaddr6
from peeringdb_network_ixlan
inner join peeringdb_ixlan on peeringdb_ixlan.id = peeringdb_network_ixlan.ixlan_id
inner join peeringdb_network_ixlan as owner_peeringdb_network_ixlan on peeringdb_ixlan.id = owner_peeringdb_network_ixlan.ixlan_id and owner_peeringdb_network_ixlan.asn = @ownerasn
inner join peeringdb_ix on peeringdb_ix.id = peeringdb_ixlan.ix_id
where peeringdb_network_ixlan.asn = @asn;", luje_conn);
		luje_cmd.Parameters.AddWithValue("@ownerasn", NpgsqlDbType.Integer, Convert.ToInt32(Configuration.PortalOwnerAsn));
		luje_cmd.Parameters.AddWithValue("@asn", NpgsqlDbType.Integer, selectedNetwork.asn);
		luje_cmd.Prepare();
		luje_rdr = luje_cmd.ExecuteReader();

		var networkList = new List<NetworkEntry>();

		while (luje_rdr.Read())
		{
			NetworkEntry entry = new NetworkEntry
						{
							id = luje_rdr["id"].ToString(),
							name = luje_rdr["name"].ToString(),
							ixlan_id = luje_rdr["ixlan_id"].ToString(),
							net_id = luje_rdr["net_id"].ToString(),
							ipaddr4 = luje_rdr["ipaddr4"].ToString(),
							ipaddr6 = luje_rdr["ipaddr6"].ToString(),
							ownerid = luje_rdr["ownerid"].ToString(),
							owneripaddr4 = luje_rdr["owneripaddr4"].ToString(),
							owneripaddr6 = luje_rdr["owneripaddr6"].ToString()
						};
			networkList.Add(entry);
		}
		luje_rdr.Close();

		<div class="columns nine">
			<h2>Peering Portal</h2>
			<p>@if (admin) {<span><a href="/portal/admin">Admin</a> -  </span>}<a href="/portal/logout">Logout</a> - <a href="/portal/">Portal Home</a> - <a href="/portal/network?asn=@selectedNetwork.asn">@selectedNetwork.name (@asn)</a></p>

			<table width="100%">
				<tr>
					<td width="20%">IXP</td>
					<td width="40%">IP Address</td>
					<td width="20%">Status</td>
					<td width="20%"></td>
				</tr>
				<tr>
					<td width="20%"></td>
					<td width="40%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
				</tr>
				@foreach (var entry in networkList)
				{
					if (ixlanlist.Contains(entry.ixlan_id))
					{
						if (entry.ipaddr4 != null && entry.ipaddr4 != "")
					{
							string status = "Not configured";
							bool requestable = true;
							if(knownnetwork) {
								luje_cmd = new NpgsqlCommand("select peering_ips_active, peering_ips_rejected, peering_ips_deployed from peering_ips inner join peering on peering.peering_id = peering_ips_peering_id and peering_deleted = false where peering_ips_peeringdb_lanid = @lanid and peering_ips_peeringdb_addrid = @addrid and peering_ips_peeringdb_oaddrid = @oaddrid and peering_ips_type = 4 and peering_peeringdb_id = @peeringdb_id and peering_ips_deleted = false;", luje_conn);
								luje_cmd.Parameters.AddWithValue("@peeringdb_id", NpgsqlDbType.Integer, selectedNetwork.id);
								luje_cmd.Parameters.AddWithValue("@addrid", NpgsqlDbType.Integer, Convert.ToInt32(entry.id));
								luje_cmd.Parameters.AddWithValue("@oaddrid", NpgsqlDbType.Integer, Convert.ToInt32(entry.ownerid));
								luje_cmd.Parameters.AddWithValue("@lanid", NpgsqlDbType.Integer, Convert.ToInt32(entry.ixlan_id));
								luje_cmd.Prepare();
								luje_rdr = luje_cmd.ExecuteReader();

								if (luje_rdr.Read())
								{
									requestable = false;
									if (Convert.ToBoolean(luje_rdr["peering_ips_active"]) == false && Convert.ToBoolean(luje_rdr["peering_ips_rejected"]) == false)
									{
										status = "Pending approval";
									}
									else if (Convert.ToBoolean(luje_rdr["peering_ips_active"]) == false && Convert.ToBoolean(luje_rdr["peering_ips_rejected"]) == true)
									{
										status = "Rejected";
									}
									else if (Convert.ToBoolean(luje_rdr["peering_ips_active"]) == true && Convert.ToBoolean(luje_rdr["peering_ips_deployed"]) == false)
									{
										status = "Pending deployment";
									}
									else if (Convert.ToBoolean(luje_rdr["peering_ips_active"]) == true && Convert.ToBoolean(luje_rdr["peering_ips_deployed"]) == true)
									{
										status = "Deployed";
									}
								}
								luje_rdr.Close();
							}
							<tr>
								<td width="20%">@entry.name</td>
								<td width="40%">Yours: @entry.ipaddr4<br />Ours: @entry.owneripaddr4</td>
								<td width="20%">@status</td>
								<td width="20%">
									@if (requestable)
									{
										<a href="/portal/request?asn=@selectedNetwork.asn&lanid=@entry.ixlan_id&addrid=@entry.id&oaddrid=@entry.ownerid&v=4">Request peering</a>
									}
									</td>
							</tr>
						}
						if (entry.ipaddr6 != null && entry.ipaddr6.ToString() != "")
						{
							string status = "Not configured";
							bool requestable = true;
							if(knownnetwork) {
								luje_cmd = new NpgsqlCommand("select peering_ips_active, peering_ips_rejected, peering_ips_deployed from peering_ips inner join peering on peering.peering_id = peering_ips_peering_id and peering_deleted = false where peering_ips_peeringdb_lanid = @lanid and peering_ips_peeringdb_addrid = @addrid and peering_ips_peeringdb_oaddrid = @oaddrid and peering_ips_type = 6 and peering_peeringdb_id = @peeringdb_id and peering_ips_deleted = false;", luje_conn);
								luje_cmd.Parameters.AddWithValue("@peeringdb_id", NpgsqlDbType.Integer, selectedNetwork.id);
								luje_cmd.Parameters.AddWithValue("@addrid", NpgsqlDbType.Integer, Convert.ToInt32(entry.id));
								luje_cmd.Parameters.AddWithValue("@oaddrid", NpgsqlDbType.Integer, Convert.ToInt32(entry.ownerid));
								luje_cmd.Parameters.AddWithValue("@lanid", NpgsqlDbType.Integer, Convert.ToInt32(entry.ixlan_id));
								luje_cmd.Prepare();
								luje_rdr = luje_cmd.ExecuteReader();

								if (luje_rdr.Read())
								{
									requestable = false;
									if (Convert.ToBoolean(luje_rdr["peering_ips_active"]) == false && Convert.ToBoolean(luje_rdr["peering_ips_rejected"]) == false)
									{
										status = "Pending approval";
									}
									else if (Convert.ToBoolean(luje_rdr["peering_ips_active"]) == false && Convert.ToBoolean(luje_rdr["peering_ips_rejected"]) == true)
									{
										status = "Rejected";
									}
									else if (Convert.ToBoolean(luje_rdr["peering_ips_active"]) == true && Convert.ToBoolean(luje_rdr["peering_ips_deployed"]) == false)
									{
										status = "Pending deployment";
									}
									else if (Convert.ToBoolean(luje_rdr["peering_ips_active"]) == true && Convert.ToBoolean(luje_rdr["peering_ips_deployed"]) == true)
									{
										status = "Deployed";
									}
								}
								luje_rdr.Close();
							}
							<tr>
								<td width="20%">@entry.name</td>
								<td width="40%">Yours: @entry.ipaddr6<br />Ours: @entry.owneripaddr6</td>
								<td width="20%">@status</td>
								<td width="20%">
									@if(requestable){
										<a href="/portal/request?asn=@selectedNetwork.asn&lanid=@entry.ixlan_id&addrid=@entry.id&oaddrid=@entry.ownerid&v=6">Request peering</a>
									}
									</td>
							</tr>
						}
					}
				}
			</table>

			@{
				luje_cmd = new NpgsqlCommand("select peering_ips_extra_active, peering_ips_extra_deployed, peering_ips_extra_addr, peering_ips_extra_id from peering_ips_extra inner join peering on peering.peering_id = peering_ips_extra_peering_id and peering_deleted = false where peering_peeringdb_id = @peeringdb_id and peering_ips_extra_deleted = false;", luje_conn);
				luje_cmd.Parameters.AddWithValue("@peeringdb_id", NpgsqlDbType.Integer, selectedNetwork.id);
				luje_cmd.Prepare();
				luje_rdr = luje_cmd.ExecuteReader();
			}
			@if(luje_rdr.HasRows)
			{
				<h3>Extra IPs</h3>
				<table width="100%">
					<tr>
						<td width="60%">IP Address</td>
						<td width="40%">Status</td>
					</tr>
					<tr>
						<td width="60%"></td>
						<td width="40%"></td>
					</tr>
					@while (luje_rdr.Read())
					{
						string status = "Not configured";
						if (Convert.ToBoolean(luje_rdr["peering_ips_extra_active"]) == false)
						{
							status = "Pending approval";
						}
						else if (Convert.ToBoolean(luje_rdr["peering_ips_extra_active"]) == true && Convert.ToBoolean(luje_rdr["peering_ips_extra_deployed"]) == false)
						{
							status = "Pending deployment";
						}
						else if (Convert.ToBoolean(luje_rdr["peering_ips_extra_active"]) == true && Convert.ToBoolean(luje_rdr["peering_ips_extra_deployed"]) == true)
						{
							status = "Deployed";
						}
						<tr>
							<td width="60%">@luje_rdr["peering_ips_extra_addr"].ToString()</td>
							<td width="40%">@status</td>
						</tr>
					}
				</table>
			}
		</div>
		luje_rdr.Close();
		luje_conn.Close();
		luje_conn.Close();
	}
	catch (HttpRequestException e)
	{
		Console.WriteLine("\nException Caught!");
		Console.WriteLine("Message :{0} ", e.Message);
	}
}
