@page
@using System.Collections;
@using LUJEWebsite.app.Utils;
@using Npgsql;
@using NpgsqlTypes;
@{
    ViewData["Title"] = "Home";
    var ixList = new ArrayList();
    var facList = new ArrayList();

    try
    {
		NpgsqlConnection luje_conn = new NpgsqlConnection(Configuration.DBPath);
		luje_conn.Open();

		NpgsqlCommand luje_cmd = new NpgsqlCommand("select peeringdb_ix.name, peeringdb_ix.name_long from peeringdb_network_ixlan inner join peeringdb_ixlan on peeringdb_network_ixlan.ixlan_id = peeringdb_ixlan.id inner join peeringdb_ix on peeringdb_ixlan.ix_id = peeringdb_ix.id where peeringdb_network_ixlan.asn = @portalowner;", luje_conn);
		luje_cmd.Parameters.AddWithValue("@portalowner", NpgsqlDbType.Integer, Convert.ToInt32(Configuration.PortalOwnerAsn));
		luje_cmd.Prepare();
		NpgsqlDataReader luje_rdr = luje_cmd.ExecuteReader();
		while (luje_rdr.Read())
		{
			var ix = new { name = luje_rdr["name"].ToString(), name_long = luje_rdr["name_long"].ToString() };
			ixList.Add(ix);
		}
		luje_rdr.Close();

		luje_cmd = new NpgsqlCommand("select peeringdb_facility.name from peeringdb_network_facility inner join peeringdb_facility on peeringdb_network_facility.fac_id = peeringdb_facility.id where peeringdb_network_facility.local_asn = @portalowner;", luje_conn);
		luje_cmd.Parameters.AddWithValue("@portalowner", NpgsqlDbType.Integer, Convert.ToInt32(Configuration.PortalOwnerAsn));
		luje_cmd.Prepare();
		luje_rdr = luje_cmd.ExecuteReader();
		while (luje_rdr.Read())
		{
			var fac = new { name = luje_rdr["name"].ToString() };
			facList.Add(fac);
		}
		luje_rdr.Close();
		luje_conn.Close();
	}
	catch (HttpRequestException e)
	{
		Console.WriteLine("\nException Caught!");
		Console.WriteLine("Message :{0} ", e.Message);
	}
}

<div class="columns nine">
	<h2>Welcome to LUJE.net - AS212855</h2>

	<p>Connected internet exchanges:</p>
	<ul>
		@foreach(dynamic ix in ixList)
		{
			if (string.IsNullOrEmpty(ix.name_long))
			{
				<li>- @ix.name</li>
			}
			else
			{
				<li>- @ix.name - @ix.name_long</li>
			}
		}
	</ul>
	<p>Facilities:</p>
	<ul>
		@foreach (dynamic fac in facList)
		{
			<li>- @fac.name</li>
		}
	</ul>
	<p>Prefixes originating from AS212855:</p>
	<ul>
		<li>- 185.36.229.0/24</li>
		<li>- 2a07:cd40::/29</li>
	</ul>
</div>
