@page
@using LUJEWebsite.Library.Utils
@using MySql.Data.MySqlClient;
@{
    ViewData["Title"] = "Peers";
    try	
    {
        MySqlConnection luje_conn = new MySqlConnection(Configuration.DBPath);
        await luje_conn.OpenAsync();

        MySqlCommand luje_cmd = new MySqlCommand("select distinct peeringdb_network.name, peeringdb_network.asn, peeringdb_network.website from peering INNER JOIN peeringdb_network ON peeringdb_network.id = peering_peeringdb_id where peering_active = true and peering_deleted = false order by cast(peeringdb_network.asn as integer) asc;", luje_conn);

        MySqlDataReader luje_rdr = (MySqlDataReader)await luje_cmd.ExecuteReaderAsync();
        <div class="wrapper post">
            <main class="page-content" aria-label="Content">
                <article>
                    <header class="header">
                        <h1 class="header-title">Peers</h1>
                    </header>

                    <div class="page-content">
                        <p>AS212855/LUJE.net is connected with the following networks on mutual exchange points:</p>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td width="20%">AS Number</td>
                                    <td width="80%">Name</td>
                                </tr>
                            </thead>
                            @while (await luje_rdr.ReadAsync())

                            {
                                string asnumber = luje_rdr["asn"].ToString();
                                string asn = "AS" + asnumber;
                                string name = luje_rdr["name"].ToString();
                                string website = luje_rdr["website"].ToString();
                                <tr>
                                    @*<td width="20%"><a rel="noopener" href="https://www.peeringdb.com/asn/@asnumber" target="_blank">@asn</a></td>
									<td width="80%">
										@if (website != "")
										{
											<a rel="noopener" href="@website" target="_blank">@name</a>
										}
										else
										{
											@name
										}
									</td>*@
                                    <td width="20%">@asn</td>
                                    <td width="80%">@name</td>
                                </tr>
                            }
                        </table>
                    </div>
                </article>
            </main>
        </div>
        await luje_rdr.CloseAsync();
        await luje_conn.CloseAsync();
    }
    catch(HttpRequestException e)
    {
        Console.WriteLine("\nException Caught!");	
        Console.WriteLine("Message :{0} ",e.Message);
    }
}